/*'Divs in order outer to inner*/

.avatarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(166, 234, 247);
  z-index: 50;
}

.arrowContainer {
  position: relative;
  width: 750px;
}

.faceContainer {
  position: relative;
  width: 90%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  margin-top: 3rem; 
}

/*Text*/
.screenTitle {
  position: absolute; 
  font-size: 2rem;
  text-align: center;
  top: 20px; 
  z-index: 2;
}

/*Character Choices*/

#base, #shirt, #hair {
  position: absolute;
  width: 80%;
  height: 80%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.base1{
  background-image: url("/public/images/avatar/faces/face1.png");
}

.base2{
  background-image: url("/public/images/avatar/faces/face2.png");
}

.base3{
  background-image: url("/public/images/avatar/faces/face3.png");
}

.base4{
  background-image: url("/public/images/avatar/faces/face4.png");
}

.base5{
  background-image: url("/public/images/avatar/faces/face5.png");
}

.base6{
  background-image: url("/public/images/avatar/faces/face6.png");
}

.base7{
  background-image: url("/public/images/avatar/faces/face7.png");
}

.hair1{
  background-image: url(/public/images/avatar/hair/hair1.png);
}

.hair2{
  background-image: url(/public/images/avatar/hair/hair2.png);
}

.hair3{
  background-image: url(/public/images/avatar/hair/hair3.png);
}

.hair4{
  background-image: url(/public/images/avatar/hair/hair4.png);
}

.hair5{
  background-image: url(/public/images/avatar/hair/hair5.png);
}

.hair6{
  background-image: url(/public/images/avatar/hair/hair6.png);
}

.hair7{
  background-image: url(/public/images/avatar/hair/hair7.png);
}

.hair8{
  background-image: url(/public/images/avatar/hair/hair8.png);
}

.hair9{
  background-image: url(/public/images/avatar/hair/hair9.png);
}

.hair10{
  background-image: url(/public/images/avatar/hair/hair10.png);
}

.hair11{
  background-image: url(/public/images/avatar/hair/hair11.png);
}

.hair12{
  background-image: url(/public/images/avatar/hair/hair12.png);
}

.hair13{
  background-image: url(/public/images/avatar/hair/hair13.png);
}

.hair14{
  background-image: url(/public/images/avatar/hair/hair14.png);
}

.hair15{
  background-image: url(/public/images/avatar/hair/hair15.png);
}

.hair16{
  background-image: url(/public/images/avatar/hair/hair16.png);
}

.hair17{
  background-image: url(/public/images/avatar/hair/hair17.png);
}

.hair18{
  background-image: url(/public/images/avatar/hair/hair18.png);
}

.hair19{
  background-image: url(/public/images/avatar/hair/hair19.png);
}

.shirt1 {
  background-image: url("/public/images/avatar/shirts/shirt1.png");
}

.shirt2 {
  background-image: url("/public/images/avatar/shirts/shirt2.png");
}
.shirt3 {
  background-image: url("/public/images/avatar/shirts/shirt3.png");
}
.shirt4 {
  background-image: url("/public/images/avatar/shirts/shirt4.png");
}
.shirt5 {
  background-image: url("/public/images/avatar/shirts/shirt5.png");
}
.shirt6 {
  background-image: url("/public/images/avatar/shirts/shirt6.png");
}
.shirt7 {
  background-image: url("/public/images/avatar/shirts/shirt7.png");
}
.shirt8 {
  background-image: url("/public/images/avatar/shirts/shirt8.png");
}
.shirt9 {
  background-image: url("/public/images/avatar/shirts/shirt9.png");
}
.shirt10 {
  background-image: url("/public/images/avatar/shirts/shirt10.png");
} 
.shirt11 {
  background-image: url("/public/images/avatar/shirts/shirt11.png");
}
/*Buttons*/

.arrowButton {  
  position: absolute;
  width: 100px;
  height: 100px;
  background-size: contain;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 10;

  --btn-image: url("/public/images/avatar/arrow.png");
  --btn-bottom: 300px;
  --btn-right:50px;
  background-image: var(--btn-image);
  bottom: var(--btn-bottom);
  right: var(--btn-right);

}

.arrowButton.hairLeft{
  --btn-image:url("/public/images/avatar/arrowLeft.png");
  --btn-bottom: 380px;
  --btn-right:600px;
}

.arrowButton.hairRight {
  --btn-bottom: 380px;
  --btn-right:50px;
}

.arrowButton.shirtsLeft{
  --btn-image:url("/public/images/avatar/arrowLeft.png");
  --btn-bottom: 220px;
  --btn-right:600px;
}
.arrowButton.shirtsRight {
  --btn-bottom: 220px;
  --btn-right:50px;
}

.arrowButton.facesLeft{
  --btn-image:url("/public/images/avatar/arrowLeft.png");
  --btn-bottom: 300px;
  --btn-right:600px;
}

.arrowButton.facesRight {
  --btn-bottom: 300px;
  --btn-right:50px;
}

.arrowButton:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
}

.nextScreen{
  position: absolute;
  right: 225px;
  bottom: 200px;
  width: 100px;
  height: 50px;
  background-size: contain;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 100;
  font-size: 1.2rem;
}

.nextScreen:hover {
  transform: scale(1.1);
  transition: transform 0.2s ease;
}